<div class="container">
    <h2 class="text-center">
        User: {{vm.user.Username}} Rating: {{vm.user.Rating}}
    </h2>

    <a href="/{{vm.user.Username}}/haikus" class="btn btn-success">Publish</a>

    <button ng-click="vm.promoteUser()" class="btn btn-info" >Promote</button>
    <button ng-click="vm.deleteAllHaikus()" class="btn btn-danger">Delete haikus</button>
    <button ng-click="vm.deleteUser()" class="btn btn-danger">Erease user</button>
    
    <br />
    <h3>Haikus</h3>
    <div class="panel-group" id="accordion">

        <div ng-repeat="haiku in vm.user.Haikus" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{haiku.Id}}">Id: {{haiku.Id}}. Published at {{haiku.DatePublished}}</a>
                </h4>
            </div>
            <div id="collapse{{haiku.Id}}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <b>Rating: {{haiku.Rating}}</b>
                    <br />
                    Content: <a href="/haikus/{{haiku.Id}}">{{haiku.Text}}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: Error If user is not found
        <div ng-show="vm.users && vm.users.length > 0">
        <div all-users/>
    </div>
    <div ng-hide="vm.users && vm.users.length > 0">
        <h2 class="text-center">No results!</h2>
    </div>-->

</div>