<div class="container">
    <h2 class="text-center">
        Projects
    </h2>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="sort" class="control-label">Sort by</label>
                </div>
                <div class="text-center">
                    <select class="form-control" required="required" ng-init="vm.request.sortby='date'" ng-model="vm.request.sortby" id="sort">
                        <option value="date">Date</option>
                        <option value="rating">Rating</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="type" class="control-label">Sort type</label>
                </div>
                <div class="text-center">
                    <select class="form-control" required="required" ng-init="vm.request.sorttype='ascending'" ng-model="vm.request.sorttype" id="type">
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="type" class="control-label">Page size</label>
                </div>
                <div>
                    <input type="number" class="form-control" id="pageSize" ng-init="vm.request.take=10" ng-model="vm.request.take">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="text-center">
                    <label for="type" class="control-label">Page</label>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" ng-click="vm.prevPage()">&lt;&lt;</button>
                </div>
                <div class="col-md-6">
                    <input type="number" ng-model="vm.request.page" ng-init="vm.request.page=1" ng-change="vm.request.skip = (vm.request.page - 1) * vm.request.take" class="form-control" />
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" ng-click="vm.nextPage()">&gt;&gt;</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="col-md-6">
                <button class="btn btn-primary pull-right" ng-click="vm.filterHaikus()">Filter</button>
            </div>
        </div>
    </div>

    <br />

    <div ng-show="vm.haikus && vm.haikus.length > 0">
        <div all-haikus />
    </div>
    <div ng-hide="vm.haikus && vm.haikus.length > 0">
        <h2 class="text-center">No results!</h2>
    </div>
</div>